.buttonComponent {
    display: flex;
    width: 150px;
    height: 42px;
    padding: 8px 18px 9px 18px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 8px;
    border: 1px solid  #302C2C;
    background: #302C2C;
    color: white; /* You can change this to any color you want for the text */
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.2px;
}


.buttonComponentTransparent {
    display: flex;
    width: auto;
    height: 42px;
    padding: 8px 18px 9px 18px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 8px;
    border: 1px solid #302C2C;
    background: transparent;
    color: #302C2C; /* You can change this to any color you want for the text */
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.2px;
}