.container {
    margin: 20px 200px;
    max-width: 1280px;
    transition: margin 0.3s ease, gap 0.3s ease;
}

.heroSectionContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Aligns the bottom of the sections */
    gap: 10px;
}

.heroSectionTitle {
    max-width: 90%; /* Set a max width to ensure the text wraps in two lines */
    padding-top: 5%;
}

.leftSectionTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    vertical-align: middle; /* Aligning text and RotatingText to the middle */
}



.leftSectionFirstLine {
    color: #302C2C;
    font-size: 72px;
    font-weight: 500;
    line-height: 0.8;
}

.leftSectionSecondLine {
    position: relative;
    display: inline-flex;
    width: auto;
    align-items: center;
    gap: 0.5rem;
    line-height: 1.2;
}

.heroSectionContent .h1 {
    color: #302C2C;
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 118%;
    letter-spacing: -2.16px;
}

.heroSectionContent .h3 {
    color: rgba(48, 44, 44, 0.65);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.2px;
    flex-wrap: wrap;
}

.heroSectionRightPart {
    max-width: 30%;
    align-self: flex-end; /* Align the right section with the bottom of the left section */
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 40px;
}

@media screen and (max-width: 2560px) and (min-width: 1441px) {
    .container {
        margin: 160px 150px 80px 150px;
    }

    .heroSectionContent {
        gap: 5vw;
    }

    .heroSectionTitle {
        max-width: 60%;
    }

    .leftSectionTitle {
        max-width: 100%;
    }

    .leftSectionFirstLine {
        font-size: 64px;
    }

    .h1 {
        font-size: 64px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1081px) {
    .container {
        margin: 80px 100px;
    }

    .heroSectionContent {
        gap: 4vw;
    }

    .heroSectionTitle {
        max-width: 70%;
    }

    .leftSectionTitle {
        max-width: 100%;
    }

    .leftSectionFirstLine {
        font-size: 60px;
    }

    .h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 1080px) {
    .container {
        margin: 40px 50px;
    }

    .heroSectionContent {
        gap: 3vw;
    }

    .heroSectionTitle {
        max-width: 100%;
    }

    .leftSectionTitle {
        max-width: 100%;
    }

    .leftSectionFirstLine {
        font-size: 50px;
    }

    .h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 40px 50px;
    }

    .heroSectionContent {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .heroSectionTitle {
        align-items: center;
        padding-top: 5%;
    }

    .leftSectionTitle {
        max-width: 100%;
        justify-content: center;
        gap: 0.5rem;
    }

    .leftSectionFirstLine, .rotatingText {
        font-size: 36px;
    }

    .leftSectionSecondLine {
        justify-content: center;
    }

    .heroSectionRightPart {
        max-width: 100%;
        margin-top: 20px;
    }

    .buttonContainer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: 40px 20px;
    }

    .leftSectionFirstLine, .rotatingText {
        font-size: 24px;
    }

    .h1 {
        font-size: 24px;
    }

    .h3 {
        font-size: 16px;
    }
}
@media screen and (max-width: 425px) {
    .heroSectionTitle {
        align-items: center;
        text-align: center;
        max-width: 100%;
    }

    .leftSectionTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    .leftSectionFirstLine {
        font-size: 20px;
        text-align: center;
    }

    .leftSectionSecondLine {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .rotatingText {
        font-size: 20px;
    }
}
