.container {
    margin: 0 200px;
    max-width: 1280px;
    /*padding: 0 50px;*/
}

.heroSectionContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

.heroSectionTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10%;
}

.leftSectionTitle {
    position: relative;
    display: inline-flex;
    max-width: 90%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    row-gap: 0.1rem;
    overflow: hidden;
    color: #302C2C;
}

.leftSectionFirstLine {
    color: #302C2C;
    font-size: 72px;
    font-weight: 500;
}

.leftSectionSecondLine {
    position: relative;
    display: inline-flex;
    width: auto;
    align-items: center;
    gap: 0.5rem;
}

.h1 {
    color: #302C2C;
    font-family: Inter, serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 118%; /* 118% */
    letter-spacing: -2.16px;
}

.h3 {
    color: rgba(48, 44, 44, 0.65);
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.2px;
    flex-wrap: wrap;
}

.heroSectionRightPart {
    max-width: 30%;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 40px;
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 0 50px;
    }

    .heroSectionContent {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .heroSectionTitle {
        align-items: center;
        padding-top: 5%;
    }

    .leftSectionTitle {
        max-width: 100%;
        justify-content: center;
        gap: 0.5rem;
    }

    .leftSectionFirstLine, .rotatingText {
        font-size: 36px;
    }

    .leftSectionSecondLine {
        justify-content: center;
    }

    .heroSectionRightPart {
        max-width: 100%;
        margin-top: 20px;
    }

    .buttonContainer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0 20px;
    }

    .leftSectionFirstLine, .rotatingText {
        font-size: 24px;
    }

    .h1 {
        font-size: 24px;
    }

    .h3 {
        font-size: 16px;
    }
}
