.rotatingTextContainer {
    display: inline-block;
    border-radius: 15px;
    color: white;
    background-color: #122431;
    font-family: "Poppins", sans-serif;
    font-size: clamp(16px, 3vw, 50px);
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    transition: background-color 1s, width 0.3s ease; /* Ensure width transition is smooth */
    overflow: hidden;
}

.rotatingTextContent {
    display: inline-block;
    padding: 15px 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rotatingTextContent p {
    margin: 0;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 1024px) {
    .rotatingTextContent {
        padding: 15px;
        font-size: clamp(12px, 2vw, 30px);
    }
}

@media screen and (max-width: 768px) {
    .rotatingTextContent {
        padding: 10px;
        font-size: clamp(10px, 1.75vw, 24px);
    }
}

@media screen and (max-width: 480px) {
    .rotatingTextContent {
        padding: 8px;
        font-size: clamp(8px, 1.5vw, 18px);
    }
}
