@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar-sticky a {
    transition: color 200ms linear, background-color 200ms linear;
}
.h1 {
    color: #302C2C;
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 118%;
    letter-spacing: -2.16px;
}

.h3 {
    color: rgba(48, 44, 44, 0.65);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.2px;
    flex-wrap: wrap;
}
